* {
    margin: 0px;
}

.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B75954, #ea9e7b);
}

.box {
    border: 3px solid red;
    border-radius: 20px;
    width: 300px;
    display: flex;

    overflow: visible;
    margin: 30px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    background-color: gainsboro;
}

.long-box {
    height: 700px;
}

.short-box {
    height: 400px;
}

.circle {
    min-width: 80px;
    min-height: 80px;
    color: white;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: -35px;
}

.bottom-content {
    display: flex;
    flex-direction: column;
}

.square {
    width: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    justify-self: flex-end;
    align-self: flex-end;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    bottom: -35px;
    right: 10px;

}

.container {
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    width: 100%;

    box-sizing: border-box;
}

img {
    width: 350px;
    align-self: center;
    height: 200px;
}

.space {
    height: 20px;
}

.text {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: red;
    border-radius: 10px;
    margin-bottom: 20px;
}

.starButton {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    height: 20px;
    border-radius: 30px;
    padding: 3px 10px;
    background-color: white;
}